<li class="list-group-item comment-alt">
  <div><%= comment.score %> points | <%= comment.author %> | <%= comment_n_symbol(comment).html_safe %></div>
  <div class="content">
    <p><%= comment_html_body(comment).html_safe %></p>
    <ul class="list-group codes" id="commentCodes<%= comment.id %>">
      <% comment.codes.each do |code| %>
        <%= render partial: "code", locals: {code: code} %>
      <% end %>
      <li class="list-group-item code-block hidden" id="newCodeComment<%= comment.id %>">
        <%= render(
          partial: "code_form",
          locals: {
            reference_id: comment.id,
            reference_type: "Comment",
            form_id: "newCodeComment#{comment.id}",
            button_id: "addCodeCommentButton#{comment.id}",
            list_id: "commentCodes#{comment.id}"
          }
        )%>
      </li>
    </ul>
    <button
      class="btn btn-btn-outline-secondary"
      id="addCodeCommentButton<%= comment.id %>"
      onClick="showAddCodeCommentForm('<%= comment.id %>')"
    >
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <% if comment.comments.present? %>
    <ul class="list-group">
      <% comment.comments.each do |child| %>
        <%= render partial: "comment_base", locals: {comment: child} %>
      <% end %>
    </ul>
  <% end %>
</li>
