<div class="container">
  <h1>Posts</h1>
  <div style="margin-bottom: 10px; padding: 10px;">
    <%= search_form_for @q, class: "col-md-12" do |f| %>
      <div class="row justify-content-center">
        <div class="form-group col">
          <%= f.label "By title" %>
          <%= f.search_field :title_cont, class: "form-control" %>
        </div>
        <div class="form-group col">
          <%= f.label "By author" %>
          <%= f.search_field :author_cont, class: "form-control" %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="form-group col">
          <%= f.label "By Code" %>
          <%= f.search_field :codes_body_or_comments_codes_body_cont, class: "form-control" %>
        </div>
        <div class="form-group col">
          <%= f.label "By Rating" %>
          <%= f.select(
            :ratings_rating_eq,
            Rating.ratings.map {|pair| [pair[0].humanize, pair[1]] },
            {include_blank: true},
            class: "form-control"
          )%>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="form-group col">
          <%= f.label "From Date" %>
          <%= f.date_field :created_utc_gteq, class: "form-control" %>
        </div>
        <div class="form-group col">
          <%= f.label  "To Date"%>
          <%= f.date_field :created_utc_lteq, class: "form-control" %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="form-group col">
          <%= f.label "Top 100 from month" %>
          <%= f.search_field :top_100_for_month, class: "form-control" %>
        </div>
        <div class="form-group col">
          <%= f.label "Top 100 for any month" %>
          <%= f.check_box :top_100_for_any_month, class: "form-control" %>
        </div>
      </div>
      <div class="row justify-content-center">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <%= paginate @posts %>
    <div class="col-md-6">
      <span>
        Sort by:
        <%= sort_link @q, :created_utc, "Time" %>
        <%= sort_link @q, :score, "Score" %>
        <%= sort_link @q, :time_and_score, ["created_utc", "score desc"], "Score" %>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul class="list-group">
        <% @posts.each do |post| %>
          <li class="list-group-item">
            <div style="display:flex;">
              <p>
                <%= post.score %> |
                <a href="<%= posts_show_path post.id %>"><%= post.title %></a>
              </p>
              <div style="margin-left:auto;">
                <% post.ratings.each do |rating| %>
                  <%= rating_symbol(rating).html_safe %>
                <% end %>
              </div>
            </div>
            <p>At <%= post.created_utc %> by <%= post.author %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
