<div class="container">
  <div class="row">
    <div class="col">
      <h2 style="text-align:center;"><%= @post.title %></h2>
      <div class="image-column justify-content-center">
        <% if @post.url.present? %>
          <img class="img-fluid rounded" src="<%= @post.url %>" />
        <% end %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col d-flex justify-content-center">
      <%= form_with model: @rating, url: rating_path, class: "rate-button-form" do |f| %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= f.hidden_field :post_id, value: @post.id %>
        <%= f.hidden_field :next_post_id, value: @next_post.id %>
        <%= f.hidden_field :rating, value: :benign %>
        <%= f.submit "Benign", class: "btn btn-secondary w-100"%>
      <% end %>
    </div>
    <div class="col d-flex justify-content-center">
      <%= form_with model: @rating, url: rating_path, class: "rate-button-form" do |f| %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= f.hidden_field :post_id, value: @post.id %>
        <%= f.hidden_field :next_post_id, value: @next_post.id %>
        <%= f.hidden_field :rating, value: :ambiguous %>
        <%= f.submit "Ambiguous", class: "btn btn-secondary w-100"%>
      <% end %>
    </div>
    <div class="col d-flex justify-content-center">
      <%= form_with model: @rating, url: rating_path, class: "rate-button-form" do |f| %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= f.hidden_field :post_id, value: @post.id %>
        <%= f.hidden_field :next_post_id, value: @next_post.id %>
        <%= f.hidden_field :rating, value: :hateful %>
        <%= f.submit "Hateful", class: "btn btn-secondary w-100"%>
      <% end %>
    </div>
  </div>
  <hr />
  <div class="row justify-content-center">
    <% if @user.admin? %>
      <%= form_with model: @post, url: posts_update_path, class: "rate-button-form" do |f| %>
        <%= f.hidden_field :image_not_present, value: true %>
        <%= f.submit "Image Not Present", class: "btn btn-warning"%>
      <% end %>
    <% end %>
    <a class="btn btn-danger" href="<%= posts_rate_index_path %>">Skip</a>
  </div>
</div>
