<%= javascript_include_tag "posts.js" %>
<div class="container border rounded-lg">
  <div class="row">
    <div class="col">
      <h2 class="w-75 mx-auto"><%= @post.title %></h2>
      <div class="row w-75 mx-auto">
        <div>
          <%= @post.score %> points |
          <%= @post.author %> |
          <%= @post.created_utc %> |
          <%= post_n_symbol(@post).html_safe %>
        </div>
        <div style="margin-left:auto;">
          <% @post.ratings.each do |rating| %>
            <%= rating_symbol(rating).html_safe %>
          <% end %>
        </div>
      </div>
      <div class="image-column">
        <% if @post.is_self? %>
          <%= post_html_body(@post).html_safe %>
        <% else %>
          <img class="img-fluid rounded" src="<%= @post.url %>">
        <% end %>
      </div>
      <ul class="list-group codes" id="postCodes">
        <% @post.codes.each do |code| %>
          <%= render partial: "code", locals: {code: code} %>
        <% end %>
        <li class="list-group-item code-block hidden" id="newCodePost">
          <%= render(
            partial: "code_form",
            locals: {
              reference_id: @post.id,
              reference_type: "Post",
              form_id: "newCodePost",
              button_id: "addCodePostButton",
              list_id: "postCodes"
            }
          )%>
        </li>
      </ul>
      <button class="btn btn-btn-outline-secondary" id="addCodePostButton" onClick="showAddPostCodeForm()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col comments-base">
      <h3>Comments</h3>
      <%# Load four levels of comments, which should be enough to save a lot of queries. %>
      <ul class="list-group">
        <% @comments.each do |comment| %>
          <%= render partial: "comment_base", locals: {comment: comment, classes: ""} %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
