<div class="container border rounded-lg">
  <div class="row">
    <div class="col">
      <h2><%= @post.title %></h2>
      <span><%= @post.score %> points | <%= @post.author %></span>
      <div class="image-column">
        <img class="img-fluid rounded" src="<%= @post.url %>">
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col comments-base">
      <h3>Comments</h3>
      <%# Load four levels of comments, which should be enough to save a lot of queries. %>
      <ul class="list-group">
        <% @post.comments.preload(comments: {comments: :comments}).each do |comment| %>
          <%= render partial: "comment_base", locals: {comment: comment} %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
